* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #1e1e26;
  color: #ffffff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
